<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campgrounds</title>
</head>
<body>
    <h1>All Campgrounds</h1>
    <ul>
        <% for(let i = 0; i < campgrounds.length; i++) { %>
            <li><a href="/campgrounds/<%= campgrounds[i]._id %>"><%= campgrounds[i].title %></a></li>
        <% } %>
    </ul>
    
</body>
</html> 